@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
    --yellow: #FFF511;
    --green: #03C869;
    --grey: #4F4F4F;
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url('images/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.header {
    height: 100vh;
    width: 40%;
}

.card-title,
.card-subtitle,
h3 {
    color: var(--green);
}

.card-title-acs {
    color: var(--yellow) !important;
    font-size: 2em;
}

.footer-acs{
    background-color: var(--yellow) !important;
}

.text-acs{
    color: white !important;
    font-size: 2em !important;
}

.img-invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.btn-collapse, .btn-acessibilidade {
    background-color: var(--green);
}

.btn-acs, .btn-padrao {
    background-color: var(--yellow) !important;
    color: black !important;
    font-size: 2em;
}

.access {
    height: 1.5em;
}

.access-acs {
    height: 2em;
}

h2, .close {
    color: var(--grey);
}

.titulo-acs {
    font-size: 2.5em;
}

.titulo-acs, .close-acs{
    color: white !important;
}

.close {
    font-size: 2em;
}

.dica, .link{
    color: var(--yellow) !important;   
}

.footer{
    background-color: var(--green);
}

.aqui{
    text-decoration: none;
    color: var(--green);
}